.video-div {
    max-height: 100vh;
    position: relative;
    /* margin-top: 3.5vh; */
    background: black;
    z-index: 1;
    -ms-overflow-style: none;
    /* padding-top: 3vh; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.video-div::-webkit-scrollbar {
    display: none;
  }

.video-block {
    width: 100%; 
    height: 100vh;  
    display: flex;  
    justify-content: center; 
    align-items: center;
}

.video-div video{
 
    height: 100vh;
    width: 100%;
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
    overflow-y: hidden;
    overflow-x: hidden;
}


.title {
    position: absolute;
    top: 45%;
    left:65%;
    color: white;
    font-size: 30px;
    border-top: 0.5px white solid;
    border-bottom: 0.5px white solid;
    z-index: 999;
    filter: drop-shadow(5px 5px 5px black)
}

.title:hover {
    color: white;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}