.nav-with-filters {
  margin: 20px 20px 0 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid darkgray;
  border-radius: 5px;
}

.nav-with-filters:hover {
  box-shadow: 2px 2px 5px darkgray;
}

.collection-filters,
.collection-sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.collection-filters {
  width: 50%;
}

.collection-sorting {
  width: 30%;
}

.nav-with-filters input,
.nav-with-filters select,
.nav-with-filters button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: white;
}

.nav-with-filters input:hover,
.nav-with-filters select:hover,
.nav-with-filters button:hover {
    border: 1px solid crimson;
    box-shadow: 2px 2px 5px #eee;
    font-weight: bold;
    outline: none;
}

.nav-with-filters button {
  cursor: pointer;
}