.navbar {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(0, 0, 0, 0));
    height: 70px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100%;
}

.show-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    height: 100%;
}

.nav-li {
    list-style: none;
    color: white;
    padding: 5px 20px;
    text-transform: uppercase;
    background: rgba(white, 0);
    line-height: 1.4;
    cursor: pointer;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    
    /* -------------------- */
    /* FONT CUSTOMING */
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    /* -------------------- */
}


.nav-li:hover {
    background: rgba(white, 1);
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    /* text-shadow: 1px 1px 2px #427388;  */
}

.navbar a {
    text-decoration: none;
}

.logo-li {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    box-shadow: none;
    outline: none;
    list-style: none;
    transition: 0.3s linear;
}

.logo-li:hover {
    transform: translateY(-5px);
    transition: 0.3s linear;
}

.logo-menu {
    display: none;
}


@media screen and (max-width: 650px) {

    .navbar {
        background-color: lightgray;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-menu {
        display: block;
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    .logo-menu:not(:active) {
        transition: 1s linear all;
    }

    .logo-menu:active {
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .show-nav {
        height: 316px;
        transition: 1s linear height;
        background-color: lightgray;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        visibility: visible;
    }

    .hide-nav {
        /* display: none; */
        visibility: hidden;
        height: 0;
        transition: 1s linear height;
    }

    .hide-nav li{
        visibility: hidden;
        color: lightgray
    }

    .nav-list {
        /* display: none; */
        visibility: hidden;

        height: 0;
        transition: 1s linear height;
    }

    .logo-li {
        display: none;
    }

    .nav-li {
        padding: 15px 0;
        text-align: center;
        width: 100vw;
        color: black;
        outline: 0.5px black;
    }
}