
.one-bike-div {
    background-color: white;
    max-width: 100vw;
    overflow-x: hidden;
}

.one-bike-image {
    padding-top: 100px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(to top, white, #E5E5E5)
}

.one-bike-image-container {
    height: 100%;
    /* z-index: 2; */
    /* width: auto; */
}

.one-bike-image img {
    height: 100%;
    z-index: 1;
    /* background-image: radial-gradient(rgba(10, 1, 8, 0.1), rgba(245, 246, 252, 1)); */
    cursor: pointer;
}   

.transition {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    overflow-x: hidden;
    border-color: white white #E5E5E5;
    /* margin-top: 5vh; */
}

.one-bike-details {
    background-color: #E5E5E5;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-bike-details > div {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    /* border: solid black 1px; */
    padding: 2%;
    align-items: center;
    justify-content: space-evenly;
}

.one-bike-details > div > * {
    margin: 20px 0;
}

.one-bike-details p {
    text-align: justify;
}

.one-bike-details table {
    height: 30vh;
    width: 50%;
    border-collapse: collapse;
}


.one-bike-details td {
    border: lightgrey solid 1px;
    padding: 2%
}



.one-bike-details a:hover {
    text-decoration: underline;
}

.gallery {
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    overflow-y: hidden;
    /* flex-wrap: wrap; */
    -ms-overflow-style: none;
}

.gallery::-webkit-scrollbar {
    display: none;
  }

.photo-in-the-gallery {
    height: 70vh;
    /* width: auto; */
    margin: 2%;
    cursor: pointer;
}
/* 
.photo-in-gallery img {
    height: 100%;
    width: 100%;
} */


.one-bike-details  button {
    background-color: red;
    color: white;
    border: none;
    font-size: 1em;
    padding: 5%;
    width: 200px;
}

.one-bike-details button:hover  {
    background-color: black;
    cursor: pointer;
}



/* component bike pic */

.fullscreen-pic{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-color: white;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fullscreen-pic img {
    height: 95%;
    width: auto;
}

.close {
    z-index: 11;
    position: fixed;
    top: 5px;
    left: 6px;
    font-size: 3rem;
    border: none;
    background-color: white;
    cursor: pointer;
}