.banner {
  height: 150px;
  width: 100%;
  background-image: url("https://images6.alphacoders.com/314/314413.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-title {
  font-size: 3rem;
  color: white;
  font-family: "Space Mono", "Courier New", Courier, monospace;
  text-transform: uppercase;
}
